html{
    scroll-behavior: smooth;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #f2e5d9;
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #a18167;
    height: 7rem;
    width: 100%;
    position: sticky;
    top: 0px;
    margin: 0;
    padding: 0;
}
.header > img{
    height: 10rem;
    margin: 0;
    padding: 0;
}
.header > .nav-section {
    display: flex;
    justify-content: center;
    align-items: center;
}
.header > .nav-section > ul{
    display: flex;
    margin-right: 5rem;
}
.header > .nav-section > ul > li{
    list-style-type: none; 
    margin-right: 2rem;
}
.header > .nav-section > ul > li > a{
    text-decoration: none;
    color: #EFDCCC;
    font-size: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 550;
}
.header > .nav-section > ul > li > a:hover{
    color: #DBC2AD;
}
.header > .nav-section > .profile{
    display: flex;
    justify-content: center;
    align-items: center;
}
.header > .nav-section > .profile > img{
    height: 3.5rem;
    border-radius: 50%;
}
.header > .nav-section > .profile > .profile-info{
    display: flex;
    flex-direction: column;
    text-align: left;
    margin: 0.5rem;
}
.header > .nav-section > .profile > .profile-info > span{
    color: #E9D3C0;
    font-family: Arial, Helvetica, sans-serif;
}
.header > .nav-section > .profile > .profile-info > span:first-child{
    font-size: 1.2rem;
    font-weight: 600;
    padding-bottom: 0.2rem;
}
.header > .nav-section > .profile > select{
    height: 1rem;
    width: 1rem;
    margin: 1rem;
    background-color: #a18167;
    border: none;
    font-size: 1.2rem;
    color: #E9D3C0;
}
.content-area{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.content-area > .section-1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20rem;
    margin-bottom: 25rem;
    width: 100%;
}
.content-area > .section-1 > span{
    display: flex;
    color: #a18167;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: center;
    text-align: center;
}
.content-area > .section-1 > span:first-child{
    font-size: 5rem;
    font-weight: 550;
}
.content-area > .section-1 > span:last-child{
    font-size: 1.5rem;
    width: 45rem;
    color: #D1B7A1;
}
.content-area > .section-2{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #EFDCCC;
    width: 100%;
    padding-top: 10rem;
    padding-bottom: 10rem;
}
.content-area > .section-2 > span{
    color: #a18167;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 3rem;
    font-weight: 550;
    margin-bottom: 3rem;
}
.content-area > .section-2 > .content-section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.content-area > .section-2 > .content-section > .box-1{
    background-color: #c0b4af;
    width: 30rem;
    height: 25rem;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: row;
    margin: 1rem;
    cursor: pointer;
}
.content-area > .section-2 > .content-section > .box-1 > span{
    font-family: Arial, Helvetica, sans-serif;
    color: #F2E5D9;
    font-size: 1.3rem;
    font-weight: 550;
    margin-top: 20rem;
    margin-left: 2rem;
    letter-spacing: 0.1rem;
    text-align: left;
}
.content-area > .section-2 > .content-section > .box-1 > img{
    height: 10rem;
    margin: 1.5rem;

}
.content-area > .section-2 > .content-section > .group-1{
    display: flex; 
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    margin-right: 1rem;
}
.content-area > .section-2 > .content-section > .group-1 > .sub-group{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.content-area > .section-2 > .content-section > .group-1 > .sub-group > .box-2{
    background-color: #b6a196;
    width: 12rem;
    height: 12rem;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: row;
    margin-right: 1rem;
    cursor: pointer;
}
.content-area > .section-2 > .content-section > .group-1 > .sub-group > .box-2 > span{
    font-family: Arial, Helvetica, sans-serif;
    color: #F2E5D9;
    font-size: 1.3rem;
    margin-top: 8rem;
    margin-left: 1rem;
    font-weight: 550;
    text-align: left;
}
.content-area > .section-2 > .content-section > .group-1 > .sub-group > .box-2 > img{
    height: 4rem;
    margin: 0.5rem;
}
.content-area > .section-2 > .content-section > .group-1 > .sub-group > .box-3{
    background-color: #e0c1a3;
    width: 12rem;
    height: 12rem;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: row;
    cursor: pointer;
}
.content-area > .section-2 > .content-section > .group-1 > .sub-group > .box-3 > span{
    font-family: Arial, Helvetica, sans-serif;
    color: #F2E5D9;
    font-size: 1.3rem;
    margin-top: 8rem;
    margin-left: 1rem;
    font-weight: 550;
    text-align: left;
}
.content-area > .section-2 > .content-section > .group-1 > .sub-group > .box-3 > img{
    height: 4rem;
    margin: 0.5rem;
}
.content-area > .section-2 > .content-section > .group-1 > .box-4{
    cursor: pointer;
    background-color: #c9b06d;
    width: 25rem;
    height: 12rem;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: row;
    margin-top: 1rem;
}
.content-area > .section-2 > .content-section > .group-1 > .box-4 > span{
    font-family: Arial, Helvetica, sans-serif;
    color: #F2E5D9;
    font-size: 1.3rem;
    margin-top: 9rem;
    margin-left: 1rem;
    font-weight: 550;
    text-align: left;
}
.content-area > .section-2 > .content-section > .group-1 > .box-4 > img{
    height: 6rem;
    margin-top: 1rem;
    margin-left: 7.5rem;
}
.content-area > .section-2 > .content-section > .group-2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.content-area > .section-2 > .content-section > .group-2 > .box-5{
    cursor: pointer;
    background-color: #d0c886;
    width: 30rem;
    height: 12rem;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: row;
    margin-bottom: 1rem;
}
.content-area > .section-2 > .content-section > .group-2 > .box-5 > span{
    font-family: Arial, Helvetica, sans-serif;
    color: #F2E5D9;
    font-size: 1.3rem;
    margin-top: 9rem;
    margin-left: 1.5rem;
    font-weight: 550;
    text-align: left;
}
.content-area > .section-2 > .content-section > .group-2 > .box-5 > img{
    height: 6rem;
    margin-top: 1rem;
    margin-left: 12rem;
}
.content-area > .section-2 > .content-section > .group-2 > .box-6{
    cursor: pointer;
    background-color: #A18167;
    width: 30rem;
    height: 12rem;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: row;
}
.content-area > .section-2 > .content-section > .group-2 > .box-6 > span{
    font-family: Arial, Helvetica, sans-serif;
    color: #F2E5D9;
    font-size: 1.3rem;
    margin-top: 8rem;
    margin-left: 1.5rem;
    font-weight: 550;
    text-align: left;
}
.content-area > .section-2 > .content-section > .group-2 > .box-6 > img{
    height: 6rem;
    margin-top: 1rem;
    margin-left: 5rem;
}


@media screen and (max-width: 500px){
    html{
        overflow-x: hidden;
    }
    body{
        overflow-x: hidden;
    }
    .header{
        align-items: center;
        height: 5rem;
        padding: 0;
        position: fixed;
        top: 0px;
    }
    .header > img{
        height: 8rem;
        margin: 0;
        padding: 0;
        align-self: center;
        margin: 8rem;
    }
    .header > .nav-section{
        visibility: hidden;
    }
    .content-area{
        justify-content: center;
        align-items: center;
    }
    .content-area > .section-1{
        margin-top: 16rem;
    }
    .content-area > .section-1 > span:first-child{
        font-size: 3.5rem;
        margin-bottom: 1rem;
    }
    .content-area > .section-1 > span:last-child{
        width: 19rem;
        text-align: justify;
        text-indent: 2rem;
    }
    .content-area > .section-2{
        margin: 1rem;
        display: block;
        justify-content: center;
        text-align: center;
    }
    .content-area > .section-2 > span{
        font-size: 2.5rem;
    }
    .content-area > .section-2 > .content-section{
        margin-top: 3rem;
    }
    .content-area > .section-2 > .content-section > .box-1{
        width: 21rem;
        height: 16rem;
        width: 23rem;
    }
    .content-area > .section-2 > .content-section > .box-1 > span{
        font-size: 1rem;
        margin-top: 12rem;
    }
    .content-area > .section-2 > .content-section > .box-1 > img{
        height: 7rem;
    }
    .content-area > .section-2 > .content-section > .group-1{
        margin-right: 0;
    }
    .content-area > .section-2 > .content-section > .group-1 > .sub-group > .box-2{
        width: 10rem;
        height: 10rem;
    }
    .content-area > .section-2 > .content-section > .group-1 > .sub-group > .box-2 > span{
        font-size: 1rem;
        margin-top: 7rem;
    }
    .content-area > .section-2 > .content-section > .group-1 > .box-2 > img{
        height: 5rem;
        margin: 1rem;
        margin-left: 5rem;
    }
    .content-area > .section-2 > .content-section > .group-1 > .sub-group > .box-3{
        width: 10rem;
        height: 10rem;
    }
    .content-area > .section-2 > .content-section > .group-1 > .sub-group > .box-3 > span{
        font-size: 1rem;
        margin-top: 7rem;
    }
    .content-area > .section-2 > .content-section > .group-1 > .box-4{
        width: 20rem;
    }
    .content-area > .section-2 > .content-section > .group-1 > .box-4 > span{
        font-size: 1rem;
    }
    .content-area > .section-2 > .content-section > .group-1 > .box-4 > img{
        height: 5rem;
        margin: 1rem;
        margin-left: 7rem;
    }
    .content-area > .section-2 > .content-section > .group-2{
        margin-top: 1rem;
    }
    .content-area > .section-2 > .content-section > .group-2 > .box-5{
        width: 21rem;
    }
    .content-area > .section-2 > .content-section > .group-2 > .box-5 > span{
        font-size: 1rem;
        margin-top: 8.5rem;
    }
    .content-area > .section-2 > .content-section > .group-2 > .box-5 > img{
        height: 5rem;
        margin: 1rem;
        margin-left: 7rem;
    }
    .content-area > .section-2 > .content-section > .group-2 > .box-6{
        width: 21rem;
    }
    .content-area > .section-2 > .content-section > .group-2 > .box-6 > span{
        font-size: 1rem;
    }
    .content-area > .section-2 > .content-section > .group-2 > .box-6 > img{
        height: 5rem;
        margin: 1rem;
        margin-left: 7rem;
    }
}